@media screen and (max-width:768px) {
    .about_title {
        font-size: 26px;
    }
    
    .about_subtitle {
        font-size: 17px;
    }
    
    .btn {
        padding: 10px 38px ;
    }
    
    .skills_inner {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .skill_item {
        margin: 50px 50px;
    }
}

@media screen and (max-width:435px) {
    
    .header_inner {
        padding: 20px ;
    }
   
    .inner_2 {
        border: 0;
    }
   
    
    .about {
        height: 1100px;
        position: relative;
    }
    
    .about_inner {
        justify-content: center;
    }
    
    .about_content {
        width: 100%;
        text-align: center;
        
    }
    
    .about_img {
        position: absolute;
        top: 70%;
        left: -70px;
    }
    
    .project {
        width: 300px;
        height: 250px;
        border: 5px solid #333;
    }
    
    .project_title {
        font-size: 25px;
    }
    
    .project_text {
        font-size: 17px;
    }
    
    .project-btn {
        padding: 7px 15px;
        border: 2px solid white;
        border-radius: 3px;
        font-size: 10px;
    }
    
    .project_img {
        width: 300px;
        height: 250px;
        box-shadow: 3px 3px 30px #444;
    }
    
    .pc-p {
        display: none;
    }
   
    .mobile-p {
        display: block;
    }
    
    
    .social-title {
        font-size: 10px;
    }
    
    .s-item_title {
        font-size: 15px;
    }
    
    .gmail {
        font-size: 7px;
    }
    
    .copyright_inner {
        font-size: 10px;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
     .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
     .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav_link {
        font-size: 15px;
    }
    
    .nav_menu {
        
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background: #000;
        width: 100%;
        text-align: center;
        transition: .3s;
        border-bottom: 2px solid white;
    }
    
    .nav_list {
        margin: 16px 0;
    }
    
    .nav_menu.active {
        left: 0;
    }
}
